<!-- views/layout.html文件 -->

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>layout </title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-min.css">
    <link rel='stylesheet' href='./css/style.css'>
</head>

<body>

{{{body}}}

<footer>
    <p>
        <a href="/">首页</a> - <a href="/about">自我介绍</a>
    </p>
</footer>

</body>
</html>